name: pine_validator
description: A modern, glass-morphism styled TradingView Pine Script Validator for Android.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_inappwebview: ^6.0.0
  provider: ^6.1.1
  google_fonts: ^6.1.0
  glass_kit: ^3.0.0
  animate_do: ^3.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
